.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Diapo {
  height:200px;
}

.coverflow__container__1P-xE {
  background:none !important;
}

.coverflow__cover__25-7e {
  box-shadow:none !important;
  border-radius: 2% !important;
}

.coverflow__figure__3bk_C {
  box-shadow:none !important;
}

.App-link {
  color: #61dafb;
}

.home_1_canvas {
  width:100%;
  height:400px;
  display:block;
  color:#fff;
  background:#333;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
